// Footer

.download {
    a {
        background-color: #61C6C2;
        display: inline-block;
        color: #fff;
        width: 220px;
        height: 60px;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
        border-radius: 10px;
        line-height: 60px;
        box-shadow: 0 7px 14px 0 rgba(41, 42, 42, 0.34);
        position: relative;
        top: 0px;
        transition: All 250ms ease;
        &:hover {
            position: relative;
            top: 5px;
            box-shadow: none;
            background-color: #FFB82D;
          }
    }
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    a {
        padding-right: 5px;
        color: #fff;
        text-decoration: none;
        font-size: 25px;
        span {
            color: #fff;
            transition: All 250ms ease;
            opacity: 0.6;
            &:hover { opacity: 1; }
          }
    }
}