// Header
#main {
    height: 800px;
}

.wrapper {
    padding-bottom: 120px;
}

.screen {
    img {
        width: 500px;
        
    }
}

.title {
    img {
        width: 605px;
    }
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: #FFB82D;
        font-size: 28px;
    }
}

.logos {
    img {
        width: 309px;
    }
}