// ==========================================================================
// Website or App Stylesheet
// ==========================================================================

// Variables and Colours
@import "styles/variables-colors";

// Import Base
@import "node_modules/getbase/scss/base";

// Overall Styles
@import "styles/header";
@import "styles/footer";

// Base Helpers
@import "node_modules/getbase/scss/base/_helpers";

html {
    outline: none;
}

body {
    background: #715ED8;
    background: linear-gradient(#361FB7, #715ED8); 
    position: relative;
    min-height: 100%;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?2dguxx');
    src:  url('../fonts/icomoon.eot?2dguxx#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?2dguxx') format('truetype'),
      url('../fonts/icomoon.woff?2dguxx') format('woff'),
      url('../fonts/icomoon.svg?2dguxx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.icon-paperplane:before {
    content: "\e900";
  }
  .icon-mail:before {
    content: "\e901";
  }
  .icon-telegram:before {
    content: "\e902";
  }
  .icon-mail4:before {
    content: "\ea86";
  }
  

  @media (min-width: 320px) and (max-width: 480px) {
  
    #main {
        height: 720px;
    }
    
  }